# Bibliotecas Obrigatórias
selenium==4.10.0             # Versão testada
webdriver-manager==3.8.6     # Versão com EdgeChromiumDriverManager
python-dotenv==1.1.0         # Para gerenciamento do .env
pillow-11.2.1
pyautogui==0.9.54            # Para automação de GUI (opcional)

# Dependências opcionais (recomendadas)
setuptools==78.1.0          # Versão estável mais recente (opcional)